*{
    margin: 0;
    padding: 0;
}

html{
    font-size: var(--xs);
    font-family: 'Roboto Mono';
}

/* ==== Scale ==== */
:root{
    --xs: 12px;
    --s: 16px;
    --m: 20px;
    --l: 24px;
    --xl: 32px;
    --xxl: 48px;
}

.text-xs{font-size: var(--xs);}
.text-s{font-size: var(--s);}
.text-m{font-size: var(--m);}
.text-l{font-size: var(--l);}
.text-xl{font-size: var(--xl);}
.text-xxl{font-size: var(--xxl);}

.text-bold{font-weight: 700;}

/* ==== Helper ==== */
.basicwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction-row{flex-direction: row;}
.width-250{width: 250px !important;}
.width-1000{width: 1000px;}

.basicwrapper:nth-child(1){
    transform: translateY(-140px);
}
.basicwrapper:nth-child(2){
    gap: var(--xxl);margin-top: 300px;
}
.basicwrapper:nth-child(2) p{
    font-size: var(--m);
}
.basicwrapper:nth-child(2) hr{
    margin-top: 80px;
}
.basicwrapper:nth-child(3){
    gap: var(--xxl);
}
.basicwrapper:nth-child(4){
    gap: var(--m);
}
.basicwrapper:nth-child(3) hr{
    margin-top: 80px;
}

/* ==== Main ==== */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #2D3142;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
main{
    background-color: #3a3f51;
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
}
footer{
    height: 104px;
    background-color: #2D3142;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
}
h1{
    font-size: 48px;
    text-align: center;
}
h2{
    font-size: 32px;
}
hr{
    width: 40px;
    border: 1px solid #D9D9D9;
}
#footer-links{
   display: inline-flex;
    gap: var(--m);
    list-style: none;
}
button{
    background-color: transparent;
    border: none;
}
button > img:hover{
    filter: brightness(0.9);
}
form{
    display: flex;
    flex-direction: column;
    gap: var(--m);
    width: 250px;
}
label{
    font-size: 14px;
    color: #9C9C9C;
    font-weight: bold;
}
input{
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: #D2D2D2;
    padding-left: 12px;
}
.footer-content{
    display: flex;
    height: 104px;
    flex-direction: column;
    justify-content: center;
    gap: var(--m);
    color: white;
}
.card{
    background-color: #2D3142;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 900px;
    border-radius: var(--m);
    box-shadow: black 0 0 4px;
}
.card-feature{
    background-image: linear-gradient(to bottom, #584DEF, #F5CDCD);
    height: 300px;
    width: 300px;
    border-radius: var(--m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--m);
}
.card-feature p{
    font-size: var(--s);
}
.card-feature h2{
    color: white;
    font-size: var(--l);
}
.card-content{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    gap: var(--m);
    margin: auto;
    overflow-y: auto;
}
.card-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-header{
    display: flex;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #EAE0D5;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card-header h1{
    color: white;
}
.taskselector{
    border: 2px solid #696969;
    width: 310px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #A1A1A1;
}
.task-header{
    width: 100%;
    display: flex;
    background-color : #696969;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.dropdown-item{
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 25px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 25px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}
.flowtimerlogo{
    font-size: 24px;
    color: white;
}
.timer{
    width: 310px;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 100%;
}
.timerbuttons{
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.homepage-demo{
    width: 1000px;
    height: 750px;
    background-image: url('media/lofi-main.png');
    border-radius: var(--m);
    box-shadow: 0 12px 24px #584DEF;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.homepage-button{
    width: 250px;
    height: 60px;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #584DEF;
    color: white;
    margin-top: var(--m);
    border-radius: var(--m);
    font-size: 24px;
}
.homepage-button:nth-child(2){
    width: 300px;
}

.homepage-button:hover{background-color: #4138c1;} 
.homepage-button:active{background-color: #3a32ad;}

.homepage-section{
    height: 830px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--m);
}
.homepage-section:nth-child(1){
    background: radial-gradient(closest-side, #F5CDCD, white 85%);
    background-size: contain;
    justify-content: center;
}
.homepage-section:nth-child(1) h1{
    font-weight: 700;
    color: #2D3142;
}
.homepage-section:nth-child(3){
    background-image: linear-gradient(to bottom, #2D3142, #10121B 75%);
    height: 500px;
    gap: 80px;
}
.homepage-section:nth-child(3) > h1{
    width: 1000px;
    color: white;
    text-shadow: 0 0 12px rgba(255, 255, 255, 50%);
}
.homepage-section p{
    width: 650px;
    margin-top: var(--m);
    margin-bottom: var(--m);
    text-align: center;
    color: #323232;
}
.homepage-bigsection{
    height: 1660px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    background-image: linear-gradient(to bottom, #8E86FF, #2D3142)
}
.homepage-bigsection h1{
    font-style: italic;
    color: white;
    text-shadow: 0 0 4px rgba(255, 255, 255, 25%);
}
.homepage-bigsection p{
    width: 700px;
    text-align: center;
    color: white;
}
.container-metricsplus{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.metricsplus{
    width: 310px;
    height: 70px;
    border: 2px solid #D2D2D2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.metricsplus-header{
    background-color: #d2d2d2;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.metricsplus-content{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-settingscard{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.settingscard{
    width: 310px;
    height: auto;
    border: 2px solid #D2D2D2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.settingscard > h3{
    width: 75%;
    color: white;
}
.settingscard-header{
    background-color: #d2d2d2;
    height: 30px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settingscard-content{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-tasks{
    width: 310px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.taskpop{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 6px;
}
.taskpop-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-1{
    background-color: #3a3f51;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-2{
    background-color: #ffffff;
    width: auto;
    text-align: center;
}
.sidebar{
    display: none;
}
.login-container{
    height: 310px;
    width: 300px;
    background-color: #ffffff;
    border-radius: var(--m);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-button{
    background-color: #008000;
    border: none;
    border-radius: 6px;
    color: white;
    height: 30px;
}
.ask-account{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.deleteaccount{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hidden{
    display: none;
}
.align{
    align-items: center;
}
.alignleft{
    align-items: flex-start;
}
.center{
    justify-content: center;
}
.flexgroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 12px;
  left: 140%;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 0.3s ease, visibility 0.1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
#homepage{
    background-color: white;
    flex-direction: column;
    position: relative;
}
#timer{
    width: 310px;
    height: 300px;
}
@media only screen and (min-width: 1024px){
    footer{
        height: 100px;
        display: none;
    }
    .card{
        width: 50%;
        height: 900px;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        gap: var(--m);
        align-items: center;
        width: 70px;
        height: calc(100% - 20px);
        padding-top: var(--m);
        background-color: #2D3142;
    }
    .sidebar a{
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .sidebar a::before{
        content:"";
        position: absolute;
        inset: -4px;
        z-index: 0;
        background-color: transparent;
        border-radius: 10px;
    }
    .sidebar a:hover::before{
        background-color: #696969;
    }
    .sidebar a img{
        position: relative;
        z-index: 1;
    }
    nav{
        display: none;
    }
    .appear{
        display: flex;
    }
    .section-2a{
        height: 234px;
    }
    .section-2b{
        height: 80px;
    }
    .section-2c{
        flex-direction: row;
    }
}