
*{
    margin: 0;
    padding: 0;
}
:root{
    --xs: 12px; 
    --s: 16px;
    --m: 20px;
    --l: 24px;
    --xl: 32px;
    --xxl: 48px;
}

.mt-32{
    margin-top: var(--xl);
}

html{
    font-family: 'Roboto Mono';
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    background-image: url('/media/daniel-leone-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #2D3142;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none !important;
    color: inherit;
}
footer{
    height: 104px;
    background-color: #2D3142;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
}
table th{
    text-align: left;
    text-decoration: underline;
}
.footer-content{
    display: flex;
    height: 104px;
    flex-direction: column;
    justify-content: center;
    gap: var(--m);
    color: white;
}
.flowtimerlogo{
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-container{
    width: 1000px;
    height: 700px;
    background-color: #252525;
    border: 2px solid white;
    border-radius: var(--m);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.admin-container .styletobutton{
    align-self: left;
}
.admin-container h1{
    font-size: 24px;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted white;
}
.admin-container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 500px;
}
.admin-container-content table{
    border: 1px dotted white;
    width: 650px;
    padding: var(--xxl);
}
.styletobutton{
    display: flex;
    gap: var(--m);
}
.styletobutton a{
    background-color: #584DEF;
    width: auto;
    padding-left: var(--s);
    padding-right: var(--s);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--m);
    box-shadow: 0 2px 2px rgba(0,0,0,50%);
}
input{
    height: 30px;
    border-radius: 6px;
    border: none;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    padding-left: 6px;
    border: 1px solid rgba(0,0,0,0.2);
}
#addUserForm, #editUserForm{
    display: flex;
    flex-direction: column;
    gap: var(--m);
    padding: var(--xxl);
    border: 1px dotted white;
}
#addUserForm button, #editUserForm button{
    background-color: #584DEF;
    border: none;
    border-radius: 6px;
    color: white;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Nunito", sans-serif;
}
#addUserForm button:hover, #editUserForm button:hover{
    cursor: pointer;
    background-color: #4138c1;
}
#userTableBody button{
    background-color: crimson;
    border: none;
    border-radius: 6px;
    padding-left: var(--xs);
    padding-right: var(--xs);
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Nunito", sans-serif;
}
#userTableBody button:hover{
    cursor: pointer;
    background-color: #b22222;
}
#userTableBody a{
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: var(--xs);
    padding-right: var(--xs);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Nunito", sans-serif;
}

.styletobutton a:hover{background-color: #4138c1;}
.styletobutton a:active{background-color: #3a32ad;}