*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--xs);
    font-family: 'Roboto Mono';
}

/* ==== Scale ==== */
:root{
    --xs: 12px;
    --s: 16px;
    --m: 20px;
    --l: 24px;
    --xl: 32px;
    --xxl: 48px;
}

.text-xs{font-size: var(--xs);}
.text-s{font-size: var(--s);}
.text-m{font-size: var(--m);}
.text-l{font-size: var(--l);}
.text-xl{font-size: var(--xl);}
.text-xxl{font-size: var(--xxl);}

.text-bold{font-weight: 700;}

/* ==== Helper ==== */
.basicwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.direction-row{flex-direction: row;}
.width-250{width: 250px !important;}
.width-1000{width: 1000px;}
.height-285{height: 285px !important;}

.hidden{display: none;}
.transparent{opacity: 0;}
.lowopac{opacity: 0.25;}

.basicwrapper:nth-child(1){
    transform: translateY(-140px);
}
.basicwrapper:nth-child(2){
    gap: var(--xxl);margin-top: 300px;
}
.basicwrapper:nth-child(2) p{
    font-size: var(--m);
}
.basicwrapper:nth-child(2) hr{
    margin-top: 80px;
}
.basicwrapper:nth-child(3){
    gap: var(--xxl);
}
.basicwrapper:nth-child(4){
    gap: var(--m);
}
.basicwrapper:nth-child(3) hr{
    margin-top: 80px;
}

.font-nunito{font-family: 'Nunito', sans-serif;}

/* ==== Main ==== */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #2D3142;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
main{
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    justify-content: space-evenly;
}
footer{
    height: 104px;
    background-color: #2D3142;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
}
h1{
    font-size: 48px;
    text-align: center;
}
h2{
    font-size: 32px;
}
hr{
    width: 40px;
    border: 1px dashed #D9D9D9;
}
.mt-10 ul li:not(:first-child){
    margin-top: 10px;
}
#footer-links{
   display: inline-flex;
    gap: var(--m);
    list-style: none;
}
button{
    border: none;
}
button > img:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap: var(--m);
    width: 250px;
}
label{
    font-size: 14px;
    color: #9C9C9C;
    font-weight: bold;
}
input{
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    padding-left: 12px;
    color: white;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}
.footer-content{
    display: flex;
    height: 104px;
    flex-direction: column;
    justify-content: center;
    gap: var(--m);
    color: white;
}
.arrow{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #FFFFFF;
    transition: transform ease-in-out 0.3s;
}
.cardalt{
    background-color: #252525;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;
}
.cardalt h1{
    font-size: 24px;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted white;
}
.cardalt h2, h3{
    font-size: 24px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cardalt h3{
    font-size: 16px;
}
.cardalt li{
    color: white;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}
.cardalt li span:nth-child(2){
    font-size: 12px;
}
.cardalt-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardalt-content select{
    margin: auto;
    margin-top: 10px;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
}
.cardalt-content select option{
    color: #252525;
}
.cardalt-div1{
    height: 350px;
    width: 900px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.cardalt-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 900px;
}
.card-feature{
    background-image: linear-gradient(to bottom, #584DEF, #F5CDCD);
    height: 300px;
    width: 300px;
    border-radius: var(--m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--m);
    box-shadow: 0 12px 24px rgba(0,0,0,25%);
    transition: all 0.5s ease;
}
.card-feature:hover{
    transform: scale(1.05);
}
.card-feature p{
    font-size: var(--s);
}
.card-feature h2{
    color: white;
    font-size: var(--l);
}
.card-content{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1000px;
    margin: auto;
    overflow-y: auto;
}
.card-dropdown{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 285px;
    gap: 10px;
    border-radius: 6px;
}
.card-header{
    display: flex;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #EAE0D5;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card-header h1{
    color: white;
}
.taskselector{
    border: 2px solid #696969;
    width: 310px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #A1A1A1;
    letter-spacing: 0.5px;
    transform: translateY(90px);
}
.taskselector input{
    width: 310px;
    text-align: center;
}
.task-header{
    width: 100%;
    display: flex;
    background-color : #149FE5;
    height: 25px;
    font-size: 14px;
    letter-spacing: 0.5px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.dropdown-item{
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 25px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 25px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}
.flowtimerlogo{
    font-size: 24px;
    color: white;
}
.timer{
    width: 310px;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 100%;
}
.timerbuttons{
    width: 170px;
    transform: translateY(60px);
    display: flex;
    justify-content: space-between;
}
.timerbuttons > button{
    background-color: transparent;
}
.select-button{
    height: 25px;
    background-color:#149FE5;
    color: white;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-dropdown{
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;
    opacity: 0;
}
.select-dropdown.active{
    opacity: 1;
    transform: scaleY(1);
    height: auto;
    pointer-events: auto;
}
.select-dropdown li{
    display: flex;
    height: 25px;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.5px;
}
.homepage-demo{
    width: 1000px;
    height: 750px;
    background-image: url('/media/main-rd.png');
    background-size: cover;
    border-radius: var(--m);
    box-shadow: 0 12px 24px rgba(0,0,0,25%);
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: all 0.5s ease;
    transform-origin: center;
}
.homepage-demo:hover{
    transform: translateX(-50%) scale(1.025);
}
.homepage-button{
    width: 250px;
    height: 60px;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #584DEF;
    color: white;
    margin-top: var(--m);
    border-radius: var(--m);
    font-size: 24px;
    box-shadow: 0 2px 2px rgba(0,0,0,50%);
}
.homepage-button:nth-child(2){
    width: 300px;
}

.homepage-button:hover{background-color: #4138c1;} 
.homepage-button:active{background-color: #3a32ad;}

.homepage-section{
    height: 830px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--m);
}
.homepage-section:nth-child(1){
    background: radial-gradient(closest-side, #F5CDCD, white 85%);
    background-size: contain;
    justify-content: center;
}
.homepage-section:nth-child(1) h1{
    font-weight: 700;
    color: #2D3142;
    text-shadow: 2px 2px 2px rgba(0,0,0,10%);
}
.homepage-section:nth-child(3){
    background-image: linear-gradient(to bottom, #2D3142, #10121B 75%);
    height: 500px;
    gap: 80px;
}
.homepage-section:nth-child(3) > h1{
    width: 1000px;
    color: white;
    text-shadow: 0 0 12px rgba(255, 255, 255, 50%);
}
.homepage-section p{
    width: 650px;
    margin-top: var(--m);
    margin-bottom: var(--m);
    text-align: center;
    color: #323232;
}
.homepage-bigsection{
    height: 1660px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    background-image: linear-gradient(to bottom, #8E86FF, #2D3142)
}
.homepage-bigsection h1{
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,25%);
}
.homepage-bigsection p{
    width: 700px;
    text-align: center;
    color: white;
    font-style: italic;
}
.container-metricsplus{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.metricsplus{
    width: 310px;
    height: 70px;
    border: 2px solid #D2D2D2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.metricsplus-header{
    background-color: #d2d2d2;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.metricsplus-content{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-settingscard{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.settings-timer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.settings-timer span{
    font-size: 14px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.settings-timer input{
    text-align: center;
    padding-left: 0;
    border: 1px solid white;
}
.settings-timercardheader{
    width: 310px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.settings-timercardbody{
    width: 310px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 5px;
}
.settings-timercardbody span{
    font-size: 10px;
    font-weight: normal;
    width: 200px;
    text-align: center;
}
.container-tasks{
    width: 310px;
    height: 285px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.taskpop-wrapper{
    overflow-y: scroll;
    width: 100%;
    height: 0;
    pointer-events: none;;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;
    opacity: 0;
}

.taskpop-wrapper.active{
    opacity: 1;
    transform: scaleY(1);
    height: auto;
    pointer-events: auto;
}

.taskpop-wrapper li{
    display: flex;
    height: 55px;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.5px;
}
.section-1{
    background-image: linear-gradient(to bottom, #8E86FF,#2D3142);
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar{
    display: none;
}
.login-container{
    height: 310px;
    width: 300px;
    background-color: #ffffff;
    border-radius: var(--m);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-button{
    background-color: #584DEF;
    border: none;
    border-radius: 6px;
    color: white;
    height: 30px;
}
.ask-account{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.deleteaccount{
    display: flex;
    align-items: center;
    gap: 10px;
}
.align{
    align-items: center;
}
.alignleft{
    align-items: flex-start;
}
.center{
    justify-content: center;
}
.flexgroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 12px;
  left: 140%;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 0.3s ease, visibility 0.1s;
  pointer-events: none;
}
.account-tooltip{
    width: 250px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    bottom: -30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    cursor: default;
    padding-left: 50%;
    padding-right: 50%;
    gap: 4px;
}
.account-tooltip hr{
    border: 1px solid #D9D9D9;
    width: 200px;
}
.account-tooltip h2{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.account-tooltip span{
    font-style: italic;
}
.account-tooltip button{
    text-align: left;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.account-tooltip button:hover{
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
#homepage{
    background-color: white;
    flex-direction: column;
    position: relative;
}
#timer{
    width: 310px;
    height: 300px;
}
#loginForm input{
    background-color: #D2D2D2;
    color: rgba(0, 0, 0, 1);
}
@media only screen and (min-width: 1024px){
    footer{
        height: 100px;
        display: none;
    }
    .card{
        width: auto;
        height: 900px;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        gap: var(--m);
        align-items: center;
        width: 70px;
        height: calc(100% - 40px);
        padding-top: var(--m);
        padding-bottom: var(--m);
        justify-content: space-between;
        background-color: transparent;
    }
    .sidebar-middle{
        display: flex;
        flex-direction: column;
        gap: var(--m);
    }
    .sidebar a{
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .sidebar a::before{
        content:"";
        position: absolute;
        inset: -4px;
        z-index: 0;
        background-color: transparent;
        border-radius: 10px;
    }
    .sidebar a:hover::before{
        background-color: #149FE5;
    }
    .sidebar a img{
        position: relative;
        z-index: 1;
    }
    nav{
        display: none;
    }
    .appear{
        display: flex;
    }
    .section-2a{
        height: 234px;
    }
    .section-2b{
        height: 80px;
    }
    .section-2c{
        flex-direction: row;
    }
}